{% extends 'main/layout.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container_about">
    <h1>About UnOnline</h1>

    <p>UnOnline is a personal pet project developed to learn and explore the capabilities of Django. This project combines the excitement of playing UNO online with the technical challenge of creating a seamless, interactive web platform.</p>

    <h2>Key Features of UnOnline</h2>
    <ul>
        <li><strong>Real-time Gameplay:</strong> Engage in real-time multiplayer UNO games with players from around the world.</li>
        <li><strong>Private Rooms:</strong> Set up private rooms to enjoy games with your friends and family.</li>
        <li><strong>Interactive Chat:</strong> Communicate with other players using our chat feature and fun emojis.</li>
    </ul>

    <h2>What's Next?</h2>
    <p>UnOnline is an ongoing project, and I am constantly working to improve and add new features. Future plans include:</p>
    <ul>
        <li><strong>Advanced Customizations:</strong> Allowing for more in-depth game and deck customization.</li>
        <li><strong>Mobile Optimization:</strong> Ensuring a seamless experience across all devices.</li>
    </ul>

    <h2>Thank You</h2>
    <p>Thank you for visiting UNOmania. I hope you enjoy playing as much as I enjoyed developing this project. Your feedback and suggestions are always welcome as they help me learn and grow as a developer.</p>
    <p>Feel free to reach out via telegram: @duschik56 for any questions or comments.</p>

    <p><strong>Happy playing!</strong></p>
</div>
{% endblock %}