{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Room: {{ room.name }}
{% endblock %}

{% block content %}
<div class="container-room">
    <h1>Room: {{ room.name }}</h1>

    <div class="players">
        {% for info in player_info %}
            <div class="player">
                <h2>{{ info.player.username }}</h2>
                <div class="cards">
                    {% for player_card in info.cards %}
                        <div class="card">
                            <img src="{% static 'main/img/cards/unknown_card.png' %}">
                        </div>
                    {% empty %}
                        <p>No cards</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="last-played-card">
        {% if room.last_played_card %}
            <img src="{% static 'main/img/cards/'|add:room.last_played_card.suit|add:'_'|add:room.last_played_card.type|add:'.png' %}" alt="{{ room.last_played_card.suit }} {{ room.last_played_card.type }}">
        {% else %}
            <h1>No cards played yet.</h1>
        {% endif %}
    </div>

    {% if room.chosen_suit %}
        <div>
            <h4>Chosen Suit: {{ room.chosen_suit }}</h4>
        </div>
    {% endif %}

    <div class="players">
        <div class="player">
            <h2>{{ user.username }}</h2>
            <div class="cards">
                {% for player_card in current_player_hand %}
                    <div class="card">
                        <form method="POST" action="{% url 'play_card' room_name=room.name card_id=player_card.card.id %}">
                            {% csrf_token %}
                            <div class="player-button">
                                <button type="submit" class="btn btn-outline-light">
                                    <img src="{% static 'main/img/cards/'|add:player_card.card.suit|add:'_'|add:player_card.card.type|add:'.png' %}" alt="{{ player_card.card.suit }} {{ player_card.card.type }}">
                                </button>
                            </div>
                        </form>
                    </div>
                {% empty %}
                    <h4>No cards</h4>
                {% endfor %}
                <div class="card">
                    <form method="POST" action="{% url 'get_extra_card' room_name=room.name %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-light">
                            <img src="{% static 'main/img/card_deck.png' %}">
                        </button>
                    </form>
                </div>
            </div>
            <form method="POST" action="{% url 'uno' room_name=room.name %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Uno</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<script>
    const roomName = "{{ room.name }}";
    const wsScheme = window.location.protocol === "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(
        wsScheme + '://' + window.location.host + '/ws/game/' + roomName + '/');
    
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data);
        location.reload();  // перезагрузить страницу при получении сообщения
    };
    
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    </script>
    